[Unit]
Description=Jupyter Notebook

[Service]
Type=simple
PIDFile=/run/jupyter.pid
ExecStart=/bin/bash -c ". /home/learner/jupyter.sh"
User=learner
Group=learner
WorkingDirectory=/home/learner
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target